$primary-blue:#3b82f6;
$primary-blue-light:#60a5fa;
$primary-blue-dark:#1d4ed8;
$dark-text:#777;
$text-white:#fff;
$color-black:#000;
$color-gray-light-1:#f7f7f7;

//grid variables

$grid-width:114rem;
$gutter-verticle:8rem;
$gutter-horizentel:6rem;